.btn-facebook { background-color: #2980b9; color: #ffffff;}
.btn-twitter { background-color: #55acee; color: #ffffff;}

.toolbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	min-height: 50px;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 0;
	width: 100%;
}

.toolbar button {
	padding: 9px 10px;
	margin: 8px 10px;
	background-color: transparent;
	border: 1px solid #ddd;;
	border-radius: 4px;
}

.toolbar-content {
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}

.toolbar-title {
	font-size: 18px;
	padding-top: 10px;
	font-weight: bold;
}

.toolbar-content div {
	display: inline-block;
}

