.btn-facebook { background-color: #2980b9; color: #ffffff;}
.btn-twitter {
	padding: 10px;
	background-color: #55acee; 
	color: #ffffff;
}

body {
	margin: 0;
}
.toolbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	min-height: 50px;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 0;
	width: 100%;
}

.toolbar button {
	padding: 9px 10px;
	margin: 8px 10px;
	background-color: transparent;
	border: 1px solid #ddd;;
	border-radius: 4px;
}

.toolbar-content {
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}

.toolbar-title {
	font-size: 18px;
	padding-top: 10px;
	font-weight: bold;
}

.toolbar-content div {
	display: inline-block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	right: 0;
	list-style: none;
}

.dropdown-menu li {
	margin: 10px 10px;
	background-color: #f8f8f8;
	z-index: 999;
}

#content { padding-top: 70px;}

.error { color: red;}

#msg-dialog {
	animation-name: "fade";
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-direction: alternate;
	-webkit-animation-name: "fade";
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -25px;
	min-height: 50px; 
	width: 280px;
	border: solid 1;
	border-radius: 4px;
	background-color: #ddd;
}
#msg-dialog .message {
	display: block;
	text-align: center;
	margin: 10px auto;
}

#msg-dialog .tweet {
	margin-top: 5px;
}

#msg-dialog .tweet img {
	float: left;
	margin: 5px;
}

#effect-dialog {
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -140px;
	min-height: 50px; 
	width: 280px;
	border: double 3px #000000;
	border-radius: 4px;
	background-color: #FFFF00;
	color: #000000;
	font-size: 24px;
}

#effect-dialog .message {
  display: block;
  text-align: center;
  margin: 10px auto;
}

#msg-dialog .tweet p {
	margin: 2px 10px;
}

td.chat-img {
	width: 28px;
}

td.chat-left {
	margin-left: 10px;
	text-align: left;
}

td.chat-right {
	margin-right: 10px;
	text-align: right;
}

#chat-text-len {
	font-style: italic;
}

.workspace {
	margin: 5px auto;
	width: 95%;
}

.clearfix {
	clear:both;
}

.table {
	width: 100%;
	table-layout: fixed;
}
th {
	text-align: left;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

th.event-date, td.event-date { width: 60px;}
th.event-title, td.event-title { width: 200px;}
th.event-capacity, td.event-capacity { width: 40px;}

th.q-creator, td.q-creator { width: 40px;}
th.q-text, td.q-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
th.q-answerer, td.q-answerer { width: 60px;}

.input-form label {
	display: block;
	margin-top: 10px;
}
.form-control {
	width: 100%;
}

.option-ctrl {
	margin-top: 10px;
	cursor: pointer;
}

.row-link tr {
	cursor: pointer;
}