@(userInfo: Option[UserInfo], twitterUrl: String)(implicit lang: Lang)
<div id="chat" class="workspace">
	@if(userInfo.isEmpty) {
		<div>
			<header class="heading">
				<p>@Messages("loginRequiredToChat")</p>
			</header>
			<a class="btn btn-twitter" href="@twitterUrl">
				<i class="fa fa-twitter fa-2x"></i>
				@Messages("loginWithTwitter")
			</a>
		</div>
	}
	<div class="checkbox">
		<label class="btn">
			<input type="checkbox" id="chat-notify"> 
			@Messages("notifyTweet")
		</label>
	</div>
	<div>@Html(Messages("html.roomMember"))</div>
	<div class="tweet-box">
		<ul></ul>
	</div>
	<div class="input-box">
	    <div class="container">
    		<form role="form">
    			@userInfo.map { u =>
    			    <div class="heading">
    			        <ul>
            				<li class="checkbox align-left">
            					<label class="btn">
            						<input id="chat-twitter" type="checkbox" checked="checked">
            						@Messages("postTwitter")
            					</label>
            				</li>
                            <li id="chat-text-len" class="align-right"><span>140</span></li>
                        </ul>
    			    </div>
    				<div class="form-group">
    					<textarea id="chat-text" class="form-control"></textarea>
    				</div>
    				<div class="align-center">
    					<button id="btn-tweet" type="button" class="btn blue">@Messages("tweet")</button>
    				</div>
    			}
    		</form>
	    </div>
	</div>
</div>
