@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="edit-event" class="workspace">
	<div class="input-form">
		<form id="event-form">
			<header class="heading">
				<p>@Messages("eventDescription")</p>
			</header>
			<div>
				<label for="event-capacity">@Messages("capacity")</label>
				<select id="event-capacity" class="form-control auto-collect">
					<option value="20">20 @Messages("ui.people")</option>
					<option value="50">50 @Messages("ui.people")</option>
					<option value="100">100 @Messages("ui.people")</option>
				</select>
			</div>
			<div class="form-group">
				<label for="event-title">@Messages("title")</label>
				<input id="event-title" class="form-control auto-collect">
			</div>
			<div class="option-ctrl">
				@Messages("options") 
				<i class="fa fa-caret-down fa-lg"></i>
			</div>
			<div class="option-panel" style="display:none;">
				<div>
					<label for="event-date">@Messages("startDate")</label>
					<input id="event-date" class="form-control" type="date" min="@(new org.joda.time.DateTime().toString("yyyy-MM-dd"))">
				</div>
				<div>
					<label for="event-time">@Messages("startTime")</label>
					<input id="event-time" class="form-control" type="time" step="900">
				</div>
				<div>
					<label for="event-passcode">@Messages("passcode")</label>
					<input id="event-passcode" class="form-control auto-collect">
				</div>
				<div>
					<label for="event-description">@Messages("description")</label>
					<textarea id="event-description" rows="5" class="form-control auto-collect"></textarea>
				</div>
			</div>
		</form>
		<div class="box-button align-center">
			<button id="event-toggle-btn" class="btn blue btn-small">@Messages("ui.start")</button>
			<button id="event-update-btn" class="btn blue btn-small">@Messages("save")</button>
		<div>
		</div>
	</div>
</div>
