@(userInfo: Option[UserInfo], roomInfo: Option[RoomInfo], json: String, twitterUrl: String, debug: Boolean)(content: Html)(implicit lang: Lang)

@main(Messages("application.title")) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/ext/sidr/stylesheets/jquery.sidr.light.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/ext/bootstrap-switch/css/bootstrap-switch.min.css")">
<div id="toolbar" class="toolbar">
	<button id="btn-menu" class="pull-left" type="button">
		<i class="fa fa-bars fa-lg"></i>
	</button>
	@userInfo.map { user => 
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<img src="@user.imageUrl"/>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">@user.name</a></li>
				<li class="divider"></li>
				<li><a href="/signout"><i class="fa fa-sign-out"></i> @Messages("signout")</a></li>
			</ul>
		</div>
	}.getOrElse {
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-sign-in"></i> @Messages("signin")
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="@twitterUrl"><i class="fa fa-twitter"></i> Twitter</a></li>
@*
				<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
*@
			</ul>
		</div>
	}
	<div class="toolbar-content">
		@roomInfo.map { room =>
			<div id="room-icons">
				<button type="button" id="btn-question">
					<i class="fa fa-check-circle fa-lg"></i>
				</button>
				<button type="button" id="btn-ranking">
					<i class="fa fa-star fa-lg"></i>
				</button>
				<button type="button" id="btn-chat" class="menu-chat">
					<i class="fa fa-comment fa-lg"></i>
				</button>
			</div>
		}.getOrElse {
			<div id="title" class="toolbar-title">@Messages("application.title")</div>
		}
	</div>
</div>
<div id="content" class="container">
	<div id="content-dynamic">
		@content
	</div>
	@roomInfo.map { room =>
		@views.html.chat(userInfo, twitterUrl)
	}
	@if(debug) {
		@views.html.debug()
	}
</div>
<div id="sidr" style="display:none;">
	<ul>
		<li><a href="#home" class="dynamic"><i class="fa fa-home"></i> @Messages("home")</a></li>
		@userInfo.map { user =>
			<li><a href="#make-room" class="dynamic">@Messages("makeRoom")</a></li>
		}
		@roomInfo.map { room =>
			<li>@Messages("roomMenu")
				<ul>
					<li><a href="#question" class="dynamic">@Messages("questions")</a></li>
					<li><a href="#ranking" class="dynamic">@Messages("ranking")</a></li>
					<li><a href="#chat" class="menu-chat">@Messages("chat")</a></li>
					@userInfo.filter(room.userQuiz && !room.isAdmin(_)).map { user =>
						<li><a href="#post-question" class="dynamic">@Messages("postQuestion")</a></li>
					}
				</ul>
			</li>
			@userInfo.filter(room.isAdmin(_)).map { user =>
				<li>@Messages("manageRoom")
					<ul>
						<li><a href="#edit-room" class="dynamic">@Messages("editRoom")</a></li>
						<li><a href="#event" class="dynamic">@Messages("editEvent")</a></li>
						<li><a href="#edit-question" class="dynamic">@Messages("editQuestion")</a></li>
					</ul>
				</li>
			}
		}
		@if(debug) {
			<li><a href="#debug" id="btn-debug"><i class="fa fa-bug"></i> @Messages("debug")</a></li>
		}
		<li><a href="#help"><i class="fa fa-question-circle" class="dynamic"></i> @Messages("help")</a></li>
	</ul>
</div>
<div id="msg-dialog" style="display:none;"><span></span></div>
<script src="@routes.Assets.at("javascripts/ext/sidr/jquery.sidr.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/touchSwipe/jquery.touchSwipe.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/animatedtablesorter/tsort.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/jquery-validation/jquery.validate.min.js")"></script>
<script src="@routes.I18N.messages(lang.language)"></script>
<script src="@routes.Assets.at("javascripts/flect.connection.js")"></script>
<script src="@routes.Assets.at("javascripts/flect.template.js")"></script>
<script src="@routes.Assets.at("javascripts/ws-quiz.js")"></script>
<script>
var app;
$(function() {
	var params = @Html(json);
	app = new flect.QuizApp(params);
});
</script>
}
