@(userInfo: Option[UserInfo], roomInfo: Option[RoomInfo], params: PageParams, twitterUrl: String)(implicit lang: Lang)

@main(Messages("application.title")) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/ext/sidr/stylesheets/jquery.sidr.light.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/ext/bootstrap-switch/css/bootstrap-switch.min.css")">
<div id="toolbar" class="toolbar">
	<button id="btn-menu" class="pull-left" type="button">
		<i class="fa fa-bars fa-lg"></i>
	</button>
	@userInfo.map { user => 
		<div class="btn-group pull-right">
			<button type="button" class="dropdown-button">
				<img src="@user.imageUrl"/>
				<i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" id="menu-mypage">@user.name</a></li>
				<li><a href="#" id="menu-settings">@Messages("settings")</a></li>
				<li class="entry-event"><a href="#" class="entry-event-btn">@Messages("entryEvent")</a></li>
				<li class="divider"></li>
				<li><a href="/signout"><i class="fa fa-sign-out"></i> @Messages("signout")</a></li>
			</ul>
		</div>
	}
	<div class="toolbar-content align-center">
		<div id="title" class="toolbar-title">@roomInfo.map(_.name).getOrElse(Messages("application.title"))</div>
	</div>
</div>
<div class="container">
	<div id="entry-event-alert" class="entry-event alert alert-info">
		<p>@Messages("eventConfirm")</p>
		<div>
			<button class="entry-event-btn btn blue btn-small">@Messages("entry")</button>
			
			<button id="not-entry-event" class="btn gray btn-small">@Messages("notEntry")</button>
		</div>
	</div>
	<div id="content">
		<div id="content-dynamic">
		</div>
		@roomInfo.map { room =>
			@views.html.chat(userInfo, twitterUrl)
		}
		@if(params.debug) {
			@views.html.debug()
		}
	</div>
</div>
@if(params.isInRoom) {
<div class="tabbar" id="tabbar">
    <ul class="clear-fix">
        <li>
            <a href="#" id="toolbar-question">
                <i class="fa fa-check-circle fa-lg"></i>
                <p>@Messages("question")</p>
            </a>
        </li>
        <li>
            <a href="#" id="toolbar-ranking">
                <i class="fa fa-star fa-lg"></i>
                <p>@Messages("ranking")</p>
            </a>
        </li>
        <li>
            <a href="#" class="menu-chat">
                <i class="fa fa-comment fa-lg"></i>
                <p>@Messages("chat")</p>
            </a>
        </li>
    </ul>
</div>
}
<div id="sidr" style="display:none;">
	<ul>
		<li><a href="#home" class="dynamic"><i class="fa fa-home"></i> @Messages("home")</a></li>
		@userInfo.map { user =>
			<li><a href="#mypage" class="dynamic">@Messages("mypage")</a></li>
			<li><a href="#make-room" class="dynamic">@Messages("ui.makeRoom")</a></li>
		}
		@roomInfo.map { room =>
			<li>@Messages("roomMenu")
				<ul>
					<li><a href="#publish-question" class="dynamic">@Messages("questions")</a></li>
					<li><a href="#ranking" class="dynamic">@Messages("ranking")</a></li>
					<li><a href="#chat" class="menu-chat">@Messages("chat")</a></li>
					@userInfo.filter(u => room.userQuiz && !room.isAdmin(u.id)).map { user =>
						<li><a href="#post-question" class="dynamic">@Messages("postQuestion")</a></li>
					}
				</ul>
			</li>
			@userInfo.filter(u => room.isAdmin(u.id)).map { user =>
				<li>@Messages("manageRoom")
					<ul>
						<li><a href="#edit-room" class="dynamic">@Messages("ui.editRoom")</a></li>
						<li><a href="#edit-event" class="dynamic">@Messages("editEvent")</a></li>
						<li><a href="#edit-question" class="dynamic">@Messages("editQuestion")</a></li>
					</ul>
				</li>
			}
		}
		@if(params.debug) {
			<li><a href="#debug" id="btn-debug"><i class="fa fa-bug"></i> @Messages("debug")</a></li>
		}
		<li><a href="#help" class="dynamic"><i class="fa fa-question-circle"></i> @Messages("help")</a></li>
	</ul>
</div>
<div id="msg-dialog" style="display:none;"><span></span></div>
<div id="effect-dialog" style="display:none;"><span class="message"></span></div>
<script src="@routes.Assets.at("javascripts/ext/sidr/jquery.sidr.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/touchSwipe/jquery.touchSwipe.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/animatedtablesorter/tsort.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/jquery-validation/jquery.validate.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ext/jquery-cookie/jquery.cookie.js")"></script>
<script src="@routes.I18N.messages(lang.language)"></script>
<script src="@routes.Assets.at("javascripts/quizar.js")"></script>
<script>
var app;
$(function() {
	var params = @Html(params.toString);
	app = new flect.QuizApp(params);
});
</script>
}
