@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="help" class="workspace help">
	<section>
		<h1 class="alert alert-info-headline">@Messages("application.title")にようこそ!</h1>
		<article>
			<p>@Messages("application.title")は出題者と回答者にわかれてリアルタイムにクイズを楽しむことができるアプリケーションです。</p>
			<p>勉強会などで学習の補助ツールとして使うこともできますし、パーティ会場での純粋なクイズゲームとして楽しむこともできます。</p>
		</article>
		<article class="alert alert-danger">
			<p>@Messages("application.title")は最新のWebテクノロジー(WebSocket, SessionStorage, PushState等)を使用して作成されたアプリケーションです。</p>
			<p>ご利用の際には最新のモダンブラウザをご使用ください。</p>
			<p><em>IE9以前、Android4.3以前の標準ブラウザでは動作しません。</em></p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">出題者の使い方の流れ</h2>
		<article>
			<p>出題者となる人はまず最初に自分がクイズを出すためのルームを作成します。</p>
			<p>ルーム名には「Java勉強会」「AKBのあれやこれや」など問題のテーマがわかる名前をつけてください。</p>
		</article>
		<article>
			<p>ルームを作成したら次は問題を作成します。</p>
			<p>問題は最大5択の選択問題で勉強会用途のために解説文や参考リンクを含めることができます。</p>
		</article>
		<article>
			<p>問題がある程度たまったら回答者を集めてイベントを開催しましょう。</p>
			<p>イベントでは参加者に対して問題を出題し、正解数に応じてランキングがつけられます。</p>
		</article>
		<article class="alert alert-warning">
			<p>出題者と回答者が異なる場所にいてインターネット越しにクイズの出題／回答を行うこともできますが、このアプリの使い方としては実際に同じ部屋にいてパーティゲームの感覚で使う方が多分楽しいです。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">回答者の使い方の流れ</h2>
		<article>
			<p>回答者はまず出題者の主催するルームに入室します。</p>
			<p>ルーム内では同じルームにいる人とチャットをすることができます。</p>
		</article>
		<article>
			<p>出題者がイベントを開始すると参加するかどうかの選択ダイアログが表示されるので参加してください。</p>
			<p>以降、出題者がクイズを出題するとリアルタイムにそれが自分の端末に流れてくるので、それに回答してください。回答時間は10秒です。</p>
		</article>
		<article class="alert alert-warning">
			<p>通信環境によっては端末によって出題されるタイミングがずれることがあります。その場合でも回答時間は問題が画面に表示されたタイミングからカウントされます。</p>
			<p>問題出題時に端末がスリープしていたり、ブラウザを開いていなかったりした場合、その問題に回答することができませんが、それもゲームの一部としてお楽しみください。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">画面構成</h2>
		<article>
			<div class="screen center">
				<img src="/assets/images/snapshot1_ja.png" style="width:220px;"/>
				<img src="/assets/images/snapshot2_ja.png" style="width:220px;"/>
			</div>
		</article>
		<ol>
			<li>メニューボタン。クリックするとサイドメニューが表示されます。</li>
			<li>サイドメニュー。ほとんどの機能はここから実行します。</li>
			<li>ユーザーメニュー。ログインすると表示されるユーザー関連のドロップダウンメニューです。</li>
			<li>ショートカットバー。ルームに入室した際に表示される良く使う機能へのショートカットです。</li>
		</ol>
	</section>

	<section>
		<h2 class="alert alert-info subhead">サインイン</h2>
		<article>
			<p>このアプリケーションを使用するためにはTwitterアカウントが必要です。</p>
			<p>トップページの
				<a class="btn btn-twitter" href="javascript:void(0)">
					<i class="fa fa-twitter fa-2x"></i>
					@Messages("loginWithTwitter")
				</a>
				をクリックしてサインインしてください。
			</p>
		</article>
		<article class="alert alert-warning">
			<p>本アプリケーションが利用するTwitterの機能は以下です。</p>
			<ul>
				<li>ユーザー認証</li>
				<li>アイコンの表示</li>
				<li>チャットでの発言を同時にTwitterにも流す(任意)</li>
			</ul>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">ホーム</h2>
		<article>
			<p>トップページです。またはサイドメニューの「ホーム」を選択することで表示されます。</p>
			<p>ルームの一覧が表示されます。</p>
			<dl>
				<dt>近日開催</dt>
				<dd>現在イベントを開催しているルームとイベント開催予定日の近いルームから順にリストされます。</dd>

				<dt>参加イベント</dt>
				<dd>過去にイベントに参加したルームと自分の主催するルームがリストされます。</dd>
			</dl>
			<p>各行をクリックすることでルームとイベントの詳細情報を確認できます。</p>
			<p>入室ボタンをクリックすることでそのルームに入室することができます。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">ルームの作成／編集</h2>
		<article>
			<p>サイドメニューの「ルームの作成」を選択することでルーム作成画面が表示されます。</p>
			<dl>
				<dt>ルーム名</dt>
				<dd>ルームの名前を指定します。唯一の必須項目です。</dd>
				<dt>参加者の問題投稿を許可</dt>
				<dd>チェックすると自分以外のユーザーが問題を投稿できるようになります。</dd>
				<dt>タグ</dt>
				<dd>任意の文字列を設定できます。(現在未使用ですが将来的に検索できるようになるかもしれません。)</dd>
				<dt>ハッシュタグ</dt>
				<dd>チャットに付加されるハッシュタグを指定します。</dd>
				<dt>説明</dt>
				<dd>任意の説明を記述します。</dd>
			</dl>
			<p>ルームの設定内容はサイドメニューの「ルームの編集」からいつでも変更できます。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">問題の作成</h2>
		<article>
			<p>サイドメニューの「問題の編集／出題」を選択することで問題一覧画面が表示されます。</p>
			<p>または画面下のショートカットバーからもこの画面を開くことができます。</p>
			<dl>
				<dt>ストック</dt>
				<dd>
					<p>まだ一度も出題したことがない問題の一覧です。</p>
					<p>各行をクリックすることで詳細画面に遷移し内容を変更することができます。</p>
					<p>またイベント開催時には一覧からショートカット的に問題を出題できます。(詳細画面からも出題はできます。)</p>
				</dd>
				<dt>出題済み</dt>
				<dd>
					<p>過去に出題した問題の一覧です。</p>
					<p>各行をクリックすることで詳細画面に遷移しますが内容を変更することはできません。</p>
					<p>(問題をコピーして新しい問題として登録することはできます。)</p>
					<p>一覧にはこれまでの出題回数と累計正答者数が表示されます。</p>
					<p>出題済みの問題であってもイベントが変われば詳細画面から何度でも出題することができます。</p>
				</dd>
				<dt>新規作成</dt>
				<dd>
					<p>問題作成画面に遷移します。</p>
				</dd>
				<dt>問題</dt>
				<dd>問題文を記述します。</dd>
				<dt>選択肢</dt>
				<dd>
					<p>回答の選択肢を記述します。</p>
					<p>改行区切りで最大5つまで指定できます。</p>
				</dd>
				<dt>正解</dt>
				<dd>
					<p>問題の正解がどれであるかの設定です。</p>
					<ul>
						<li>先頭行 - 選択肢の先頭行が正解になります。</li>
						<li>最も多かった回答 - 回答者の一番多かった選択肢が正解となります。</li>
						<li>最も少なかった回答 - 回答者の一番少なかった選択肢がが正解となります。(0は除く)</li>
						<li>正解なし - アンケートのような正解のない問題を出す場合に使用します。</li>
					</ul>
				</dd>
				<dt>タグ</dt>
				<dd>任意の文字列を設定できます。(現在未使用ですが将来的に検索できるようになるかもしれません。)</dd>
				<dt>説明</dt>
				<dd>任意の説明を記述します。</dd>
				<dt>参考リンク</dt>
				<dd>問題の解説として参考になるサイトがあるならそのURLを指定します。</dd>
			</dl>
		</article>
		<article class="alert alert-warning">
			<p>イベント参加者はマイページから自分の参加したイベントの問題を振り返ることができるので、勉強会目的の場合は説明、参考リンクを設定しておくことで学習の助けとなります。</p>
		</article>
		<dl>
			<dt>問題の出題</dt>
			<dd>イベント開催時にはこの画面から問題を出題することができます。</dd>
			<dt>ランキングに含める</dt>
			<dd>チェックを外すと問題に正解してもランキング集計の対象外となります。</dd>
		</dl>
		<article class="alert alert-warning">
			<ul>
				<li>正解なしの問題はランキングに含めることはできません。</li>
				<li>先頭行が正解の問題は出題時に選択肢がシャッフルされます。</li>
				<li>それ以外の問題は指定の順で選択肢が表示されます。</li>
			</ul>
		</article>
		<dl>
			<dt>問題の投稿</dt>
			<dd>
				<p>ルームの設定で参加者の問題投稿が許可されている場合は誰でも問題を作成することができます。</p>
				<p>ただし、問題の投稿後はその問題は主催者に委ねられるので問題を修正することはできません。</p>
				<p>主催者は投稿された問題を自由に修正することができます。</p>
			</dd>
		</dl>
	</section>
	
	<section>
		<h2 class="alert alert-info subhead">イベントの編集</h2>
		<article>
			<p>サイドメニューの「イベントの編集」を選択することでイベントの編集、開始、終了を行う画面が表示されます。</p>
			<p>イベントが開始されていない場合はイベント内容の入力フォームが表示され、その修正とイベントの開始を行うことができます。</p>
			<p>イベントが開始されている場合は参加者一覧が表示されイベントの終了を行うことができます。</p>
		</article>
		<dl>
			<dt>定員</dt>
			<dd>イベントに参加できる人数を設定します。現在は最大50人に制限されています。</dd>
			<dt>タイトル</dt>
			<dd>任意のイベントタイトルを指定します。</dd>
			<dt>開始日</dt>
			<dd>イベントの開始予定日を指定します。</dd>
			<dt>開始時刻</dt>
			<dd>イベントの開始予定時刻を指定します。</dd>
			<dt>パスコード</dt>
			<dd>
				<p>指定するとイベント参加時にパスコードの入力を求められるようになります。</p>
				<p>(つまりパスコードを知っている人しかイベントに参加できなくなります。)</p>
			</dd>
			<dt>説明</dt>
			<dd>任意の説明を記述します。</dd>
		</dl>
		<article class="alert alert-warning">
			<ul>
				<li>イベントの設定項目に必須項目はありません。この画面の表示後に何も入力せずにすぐにイベントを開始することができます。</li>
				<li>開始日、開始時刻を設定してもその時間に自動的にイベントが開始されるわけではありません。イベントの開始はあくまで主催者が手動で行います。これらの項目は近日開催のイベント一覧の検索のためにのみ使用されます。</li>
				<li>24時間以上問題が出題されていないイベントは自動的に終了します。</li>
				<li>過去のイベント情報の変更はできません。</li>
			</ul>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">イベントへの参加</h2>
		<article>
			<p>主催者でないユーザーがルーム内にいる時にイベントが開始されるとイベントへの参加を問い合わせるパネルが表示されます。</p>
			<p>ここで「参加」をクリックするとイベントに参加できます。</p>
		</article>
		<article class="alert alert-warning">
			<ul>
				<li>イベント参加のパネルで「参加しない」を選択した場合でも、後から画面右上のユーザーメニューから参加することができます。</li>
				<li>イベントへの参加は先着順です。定員に達した場合はそれ以降のイベント参加は受け付けられなくなります。</li>
				<li>一度参加したイベントのキャンセルはできません。参加後一問も回答せずに退室(ブラウザ終了)した場合でも参加扱いとなります。(定員にカウントされます。)</li>
				<li>イベントに参加していない状態でもルーム内にいれば問題を見ることはできますが回答はできません。</li>
			</ul>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">問題の解答</h2>
		<article>
			<p>主催者が問題を出題するとすぐに参加者の端末で問題が表示されます。正解と思うボタンをクリックしてください。制限時間は10秒です。</p>
			<p>解答後は選択肢ごとの人数がボタン上に表示され、10秒後には正解と問題の解説が表示されます。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">ランキング</h2>
		<article>
			<p>サイドメニューの「ランキング」またはショートカットバーからランキング画面を開くことができます。</p>
			<dl>
				<dt>Now!</dt>
				<dd>
					<p>現在開催中のイベントのランキング。一問毎に順位が入れ替わります。</p>
					<p>(イベント開催中以外は表示されません。)</p>
				</dd>
				<dt>イベント別</dt>
				<dd>過去のイベントの優勝者一覧。行をクリックすることでそのイベントのランキングが表示されます。</dd>
				<dt>通算</dt>
				<dd>イベントを通しての通算ランキング。行をクリックすることでその人の各イベントでの成績が表示されます。</dd>
			</dl>
			<p>イベントランキングの算出方法は以下です。</p>
			<ol>
				<li>正答数の多い順</li>
				<li>正答数が同じ場合は、正答した問題の解答にかかったタイムの短い順</li>
			</ol>
			<p>イベント終了時にイベントランキングの上位10人にはそれぞれ10ポイントから1ポイントまでのポイントが加算されます。</p>
			<p>それを踏まえて通算ランキングの算出方法は以下です。</p>
			<ol>
				<li>ポイントの多い順</li>
				<li>ポイントが同じ場合は、正答数の多い順</li>
				<li>ポイント、正答数が同じ場合は、正答した問題の解答にかかったタイムの短い順</li>
			</ol>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">マイページ</h2>
		<article>
			<p>サイドメニューの「マイページ」を選択することでマイページ画面を開くことができます。</p>
			<p>マイページでは自分の参加したイベントまたは主催したイベントの問題を振りかえることができます。</p>
			<dl>
				<dt>参加ルーム</dt>
				<dd>
					<p>イベントに参加したことのあるルームの一覧です。</p>
					<p>各行をクリックすることで、以下の画面にブレイクダウンしていきます。</p>
					<ul>
						<li>そのルームで参加したイベントの一覧と総合順位</li>
						<li>イベントで出題された問題一覧</li>
						<li>出題された問題とその解説</li>
					</ul>
				</dd>

				<dt>主催ルーム</dt>
				<dd>
					<p>自分の主催するルームの一覧です。</p>
					<p>各行をクリックすることで、以下の画面にブレイクダウンしていきます。</p>
					<ul>
						<li>開催したイベントの一覧と参加人数</li>
						<li>イベントで出題された問題一覧</li>
						<li>出題された問題とその解説</li>
					</ul>
				</dd>
			</dl>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">チャット</h2>
		<article>
			<p>サイドメニューの「チャット」またはショートカットバーからチャット画面を開くことができます。</p>
			<p>オプションでここでの発言内容を同時にTwitterに投稿することもできます。</p>
		</article>
		<article class="alert alert-warning">
			<p>チャットの内容はどこにも保存されておらず、画面をリロードするだけでも過去の発言は見えなくなります。</p>
			<p>本格的なコミュニケーション手段というよりもTwitter感覚でお使いください。</p>
		</article>
	</section>

	<section>
		<h2 class="alert alert-info subhead">ユーザー設定</h2>
		<article>
			<p>ユーザーメニューの「設定」をクリックすることでユーザー設定画面を開くことができます。</p>
		</article>
		<dl>
			<dt>ユーザー名</dt>
			<dd>ユーザー名を変更します。</dd>
			<dt>チャットメッセージを通知する</dt>
			<dd>チェックするとチャットに発言があった時にポップアップで通知されます。</dd>
		</dl>
	</section>
</div>
