@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="help" class="workspace help">
	<section>
		<h1 class="alert alert-info-headline">Welcome to @Messages("application.title")!</h1>
		<article>
			<p>@Messages("application.title") is a realtime quiz application.</p>
			<p>For example, you can use this app for studying meeting, or enjoy in any party.</p>
		</article>
		<article class="alert alert-danger">
			<p>@Messages("application.title") uses newest technologies.(e.g. WebSocket, SessionStorage, PushState)</p>
			<p>This app requires newest modern browser.。</p>
			<p><em>Before IE9 and Android standard browser(beofre 4.3) are not suppoted.</em></p>
		</article>
	</section>
	<section>
		<h2 class="alert alert-info subhead">Usage for quiz master.</h2>
		<article>
			<p>At first, the quiz master makes a room. The room is the place to publish quiz.</p>
			<p>You can name the room as you want.(e.g. "Java study", "Hollywood movie quiz")</p>
		</article>
		<article>
			<p>Next, you should make some questions.</p>
			<p>The question can take 5 choices. And it can have an explanation for the answer and reference link.</p>
		</article>
		<article>
			<p>After that, let's hava an event with some quiz panelists.</p>
			<p>In the event, you can publish some quiz to the panelists. Th event makes a ranking of panelists.</p>
		</article>
		<article class="alert alert-warning">
			<p>Though the quiz master and the panelists are not necessary to be in the same place, maybe it is more fun to in same place.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Usage for quiz panelists.</h2>
		<article>
			<p>At first, the quiz panelist enter the room of quiz master.</p>
			<p>In the room, you can chat with others.</p>
		</article>
		<article>
			<p>When the quiz master starts an event, the entry dialog is shown. After entry the event, you can answer the quiz.</p>
			<p>The time limit for a quiz is 10 seconds.</p>
		</article>
		<article class="alert alert-warning">
			<p>This app requires good network environment.</p>
			<p>At the time of quiz, if your device is sleeping, or your browser is closed, you can not  answer the quiz. It's a part of the game.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Screen shot</h2>
		<article>
			<img src="/assets/images/snapshot1_ja.png" style="width:220px;"/>
			<img src="/assets/images/snapshot2_ja.png" style="width:220px;"/>
		</article>
		<ol>
			<li>Menu button. Open side menu by clicking.</li>
			<li>User menu. A drop down menu of user related functions.</li>
			<li>Side menu.Most functions are executed from this.</li>
			<li>Short cut bar. Shortcut of fluently used functions.</li>
		</ol>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Sign in</h2>
		<article>
			<p>This app requires Twitter account for sign in.</p>
			<p>You can sign in with this button of the top page.
				<a class="btn btn-twitter" href="javascript:void(0)">
					<i class="fa fa-twitter fa-2x"></i>
					@Messages("loginWithTwitter")
				</a>
			</p>
		</article>
		<article class="alert alert-warning">
			<p>This app uses following Twitter features.</p>
			<ul>
				<li>User authentication.</li>
				<li>Display user icon.</li>
				<li>Tweet.(Option feature of the chat room.)</li>
			</ul>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Home</h2>
		<article>
			<p>Top page of this application. You can show this page by "Home" menu.</p>
			<p>This page has list of rooms.</p>
			<dl>
				<dt>Recent</dt>
				<dd>The rooms which have a running event or recent event are listed.</dd>

				<dt>Yours</dt>
				<dd>Your own rooms and entried rooms are listed.</dd>
			</dl>
			<p>You can look the detail information by clicking a row.</p>
			<p>You can enter the room with enter button.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Making and editing room</h2>
		<article>
			<p>You can show this page by "Make room" menu.</p>
		</article>
		<dl>
			<dt>Room name</dt>
			<dd>Set the room name.This field is required.</dd>

			<dt>Allow user question.</dt>
			<dd>If checked, anyone can post the question to room owner.</dd>

			<dt>Tag</dt>
			<dd>Any string.(It is not used currently.)</dd>

			<dt>Hashtag</dt>
			<dd>Hashtag for chat.</dd>

			<dt>Description</dt>
			<dd>Any description.</dd>
		</dl>
		<article>
			<p>You can change room settings by "Edit room" menu.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Make question</h2>
		<article>
			<p>You can show this page by "Edit and publish questions" menu.</p>
			<p>Or from shortcut bar of the bottom.</p>
			<dl>
				<dt>Stock</dt>
				<dd>
					<p>Listed questions that are not published.</p>
					<p>You can look and edit the detail information by clicking a row.</p>
					<p>If the event is running, you can publish the question from this page.</p>
				</dd>

				<dt>Published</dt>
				<dd>
					<p>Listed questions that are published in past events.</p>
					<p>You can look the detail information by clicking a row. But can not edit.</p>
					<p>(You can copy the question as a new question.)</p>
					<p>The number of published and total number of correct answerers are shown in this list.</p>
					<p>You can publish already published question in each event.</p>
				</dd>

				<dt>New</dt>
				<dd>
					<p>Move to the page of creating question.</p>
				</dd>
			</dl>
		</article>
		<dl>
			<dt>Question</dt>
			<dd>Describe the question.</dd>

			<dt>Choices</dt>
			<dd>
				<p>Choices of the question.</p>
				<p>You can specify five choices separated by new line.</p>
			</dd>

			<dt>Correct choice</dt>
			<dd>
				<p>Specify the correct answer.</p>
				<ul>
					<li>First row - First row of choices is correct.</li>
					<li>Answer the most frequent - The answer which has most frequent answerer is correct.</li>
					<li>Answer the least frequent - The answer which has least frequent answerer is correct.(expect 0)</li>
					<li>No answer - This question has no answer.</li>
				</ul>
			</dd>

			<dt>Tag</dt>
			<dd>Any string.(It is not used currently.)</dd>

			<dt>Description</dt>
			<dd>Any description.</dd>

			<dt>Reference link</dt>
			<dd>Any link for question.</dd>
		</dl>
		<article class="alert alert-warning">
			<p>Quiz panelists can lookback question from my page.So if the quiz master set detailed description and reference link, it it useful for quiz panelists.</p>
		</article>
		<dl>
			<dt>Publish question</dt>
			<dd>In the event session, you can publish question from this page.</dd>
			<dt>Include ranking</dt>
			<dd>If unchecked, this question will be out of the ranking.</dd>
		</dl>
		<article class="alert alert-warning">
			<ul>
				<li>The question which has no answer can not include in ranking.</li>
				<li>If the correct answer is first row, the choices are shuffled.</li>
			</ul>
		</article>
		<dl>
			<dt>Post question</dt>
			<dd>
				<p>If posting question is allowed by room setting, anyone can make a question and post it to room owner.</p>
				<p>But after posting question, it is managed by room owner. So you can not modify it after posting.</p>
				<p>The room owner can freely modify it.</p>
			</dd>
		</dl>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Edit event.</h2>
		<article>
			<p>You can show this page by "Edit event" menu.</p>
			<p>If the event is not started, you can modify event settings and start event.</p>
			<p>If the event is running, event entry are listed. You can finish event.</p>
		</article>
		<dl>
			<dt>Capacity</dt>
			<dd>Capacity of the event. Currently the max number of capacity is limited to 50.</dd>

			<dt>Title</dt>
			<dd>Title of the event.</dd>

			<dt>Start date</dt>
			<dd>Specify the start date of the event.</dd>

			<dt>Start time</dt>
			<dd>Specify the start time of the event.</dd>

			<dt>Passcode</dt>
			<dd>
				<p>If specified, passcode is required to entry event.</p>
			</dd>
			<dt>Description</dt>
			<dd>Any description.</dd>
		</dl>
		<article class="alert alert-warning">
			<ul>
				<li>There is no necessary field in event settings. So you can start event without input anything.</li>
				<li>If you specify the start date and time, the event doesn't start automatically at that time. These fields are used to make recent event list.</li>
				<li>If the running event spend 24 hours without publishing question, it automatically close.</li>
				<li>You can not modify past event information.</li>
			</ul>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Entry the event</h2>
		<article>
			<p>When the room owner starts the event, others in the room see the confirm dialog of event entry.</p>
			<p>You can entry the event by it.</p>
		</article>
		<article class="alert alert-warning">
			<ul>
				<li>You also entry the event from user menu.</li>
				<li>Event entry is first come, first served.If the number of event entry is reached to the capacity, following entry is rejected.</li>
				<li>You can not cancel the entried event.</li>
				<li>If you don't entry the event, you can see the question, but can not answer.</li>
			</ul>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Answer the question</h2>
		<article>
			<p>When the room owner publish the question, it shows in others device.The time for choosing answer is 10 seconds.</p>
			<p>The number of answerer is shown in the button.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Ranking</h2>
		<article>
			<p>You can see this page by "Ranking" menu. Or from shortcut bar of the bottom.</p>
			<dl>
				<dt>Now!</dt>
				<dd>
					<p>The ranking of currently running event.</p>
					<p>If the event is not running, it isn't shown.</p>
				</dd>

				<dt>Event</dt>
				<dd>The winners list of past event. You can look the detail ranking by clicking the row.</dd>

				<dt>Total</dt>
				<dd>Total ranking of the room. You can look the detail of the user by clicking the row.</dd>
			</dl>
			<p>The event ranking is calced by following step.</p>
			<ol>
				<li>The number of correct answer.</li>
				<li>If it is same, the time of correct answer.</li>
			</ol>
			<p>When the event finish, top 10 user get the points.</p>
			<p>The total ranking is calced by following step.</p>
			<ol>
				<li>Point</li>
				<li>If it is same, the number of correct answer.</li>
				<li>If those are same, the time of correct answer.</li>
			</ol>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">My page</h2>
		<article>
			<p>You can show this page by "My page" menu.</p>
			<p>In this page, you can lookback the questions of past events.</p>
			<dl>
				<dt>Entries</dt>
				<dd>
					<p>List of the rooms which has your entry.</p>
					<p>You can look the following breakdown by clicking the row.</p>
					<ul>
						<li>The event list and total ranking of the specified room.</li>
						<li>The question list of the specified event.</li>
						<li>The specified question and its description.</li>
					</ul>
				</dd>

				<dt>Owners</dt>
				<dd>
					<p>List of your own rooms.</p>
					<p>You can look the following breakdown by clicking the row.</p>
					<ul>
						<li>The event list and the number of its entry.</li>
						<li>The question list of the specified event.</li>
						<li>The specified question and its description.</li>
					</ul>
				</dd>
			</dl>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">Chat</h2>
		<article>
			<p>You can look this page by "Chat" menu. Or from shortcut bar of the bottom.</p>
			<p>Optionally, you can tweet it to tweeter.</p>
		</article>
		<article class="alert alert-warning">
			<p>The content of chat are not stored anywhere. So there is no way to see past chat.</p>
		</article>
	</secition>
	<section>
		<h2 class="alert alert-info subhead">User setting</h2>
		<article>
			<p>You can look this page by "Setting" menu of user menu.</p>
		</article>
		<dl>
			<dt>Username</dt>
			<dd>Change username.</dd>

			<dt>Notify tweet.</dt>
			<dd>Show notify dialog, when someone tweet.</dd>
		</dl>
	</secition>
</div>
