@(sessionInfo: SessionInfo, twitterUrl: String)(implicit lang: Lang)
<div id="home" class="workspace">
	<div>
		@if(sessionInfo.user.isEmpty) {
			<div>
				<a class="btn btn-twitter" href="@twitterUrl">
					<i class="fa fa-twitter fa-2x"></i>
					@Messages("loginWithTwitter")
				</a>
			</div>
		}
	</div>
	<div class="tab-content" style="display:none;">
		<ul class="clear-fix">
			<li><a href="#event-future">@Messages("upcoming")</a></li>
			<li><a href="#event-yours">@Messages("yourEvents")</a></li>
		</ul>
		<div id="event-future" class="tab-pane">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="event-date">@Messages("scheduledDate")</th>
						<th class="event-title">@Messages("title")</th>
						<th class="event-capacity">@Messages("capacity")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="event-yours" class="tab-pane">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="event-date">@Messages("datetime")</th>
						<th class="event-title">@Messages("title")</th>
						<th class="event-capacity">@Messages("capacity")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="event-detail" class="tab-pane" style="display:none;">
			<nav class="paging-bar">
				<ul>
					<li>
						<div class="pull-left">
							<button type="button" class="btn" id="room-detail-back">
								<i class="fa fa-angle-left fa-lg"></i>
							</button>
						</div>
					</li>
					<li class="two-btn">
						<div class="center">
							<button id="room-detail-enter" class="btn blue btn-small">@Messages("enterRoom")</button>
						</div>
					</li>
				</ul>
			</nav>
			<h3 id="room-detail-name"></h3>
			<div class="checkbox">
				<label class="btn">
					<input id="room-detail-userQuiz" type="checkbox" disabled="disabled"/>
					@Messages("allowUserQuestion")
				</label>
			</div>
			<div>
				<label>@Messages("description")</label>
				<pre id="room-detail-description" class="form-control" disabled="disabled"></pre>
			</div>
			<div id="room-detail-event">
				<h3>@Messages("nextEventInformation")</h3>
				<label>@Messages("title")</label>
				<p id="room-detail-title" class="indent"></p>
				<label>@Messages("scheduledDate")</label>
				<p id="room-detail-date" class="indent"></p>
				<label>@Messages("capacity")</label>
				<p id="room-detail-capacity" class="indent"></p>
				<label>@Messages("description")</label>
				<pre id="room-detail-description2" class="form-control" disabled="disabled"></pre>
			</div>
		</div>
	</div>
</div>
