@(sessionInfo: SessionInfo, twitterUrl: String)(implicit lang: Lang)
<div id="home" class="workspace">
	<div>
		@if(sessionInfo.user.isEmpty) {
			<div>
				<a class="btn btn-twitter" href="@twitterUrl">
					<i class="fa fa-twitter fa-2x"></i>
					@Messages("loginWithTwitter")
				</a>
@*
				<button class="btn btn-facebook" style="margin-left:10px;">
					<i class="fa fa-facebook fa-2x"></i>
					Facebookでログイン
				</button>
*@
			</div>
		}
	</div>
	<div class="tab-content" style="display:none;">
		<ul class="clear-fix">
			<li><a href="#event-future">@Messages("upcoming")</a></li>
			<li><a href="#event-yours">@Messages("yourEvents")</a></li>
		</ul>
		<div id="event-future">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="event-date">@Messages("scheduledDate")</th>
						<th class="event-title">@Messages("title")</th>
						<th class="event-capacity">@Messages("capacity")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="event-yours">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="event-date">@Messages("datetime")</th>
						<th class="event-title">@Messages("title")</th>
						<th class="event-capacity">@Messages("capacity")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
