@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="make-room" class="workspace">
	<h1 id="make-room-h1">@Messages("makeRoom")</h1>
	<div class="input-form">
		<form id="make-room-form">
			<div>
				<label for="room-name">@Messages("roomName")</label>
			</div>
			<div>
				<input id="room-name" class="form-control"/>
			</div>
			<div class="checkbox">
				<label>
					<input id="room-userQuiz" type="checkbox"> @Messages("allowUserQuestion")
				</label>
			</div>
			<div class="option-ctrl">
				@Messages("options") 
				<span>
					<i class="fa fa-toggle-down fa-lg"></i>
					<i class="fa fa-toggle-up fa-lg" style="display:none;"></i>
				</span>
			</div>
			<div class="option-panel" style="display:none;">
				<div>
						<label for="room-tags">@Messages("tags")</label>
				</div>
				<div>
						<input id="room-tags" class="form-control"/>
				</div>
				<div>
						<label for="room-hashtag">@Messages("hashtag")</label>
				</div>
				<div>
						<input id="room-hashtag" class="form-control"/>
				</div>
				<div>
						<label for="room-description">@Messages("description")</label>
				</div>
				<div>
						<textarea id="room-description" rows="5" class="form-control"></textarea>
				</div>
			</div>
			<div>
				<button type="button" id="btn-make-room">@Messages("ui.create")</button>
			</div>
		</form>
	</div>
@*
	<div id="room-admin">
		<h2>@Messages("administrator")</h2>
		<p>@Messages("addAdministrator")</p>
		<ul class="list-admin">
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				@@<input type="text"/>
				<i class="fa fa-plus-circle fa-2x"></i>
			</li>
		</ul>
	</div>
*@
</div>
