@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="make-question" class="workspace">
	<div class="input-form">
		<form id="make-q-form">
			<header class="heading">
				<p id="make-q-desc">@Messages("ui.createQuestion")</p>
			</header>
			<div>
				<label for="make-q-question">@Messages("question")</label>
				<textarea id="make-q-question" rows="3" class="form-control"></textarea>
			</div>
			<div>
				<label for="make-q-answers">@Messages("choices")</label>
				<textarea id="make-q-answers" rows="5" class="form-control"></textarea>
				<p class="notes">@Messages("choicesNote")</p>
			</div>
			<div>
				<label for="make-q-answerType">@Messages("correctChoice")</label>
				<select id="make-q-answerType" class="form-control">
					<option value="@AnswerType.FirstRow.code">@Messages("firstRow")</option>
					<option value="@AnswerType.Most.code">@Messages("mostFrequentAnswer")</option>
					<option value="@AnswerType.Least.code">@Messages("lessFrequentAnswer")</option>
					<option value="@AnswerType.NoAnswer.code">@Messages("noCorrectAnswer")</option>
				</select>
			</div>
			<div class="option-ctrl">
				@Messages("options") 
				<i class="fa fa-caret-down fa-lg"></i>
			</div>
			<div class="option-panel" style="display:none;">
				<div>
					<label for="make-q-tags">@Messages("tags")</label>
					<input id="make-q-tags" class="form-control">
				</div>
				<div>
					<label for="make-q-description">@Messages("description")</label>
					<textarea id="make-q-description" rows="5" class="form-control"></textarea>
				</div>
				<div>
					<label for="make-q-relatedUrl">@Messages("relatedUrl")</label>
					<input id="make-q-relatedUrl" class="form-control">
				</div>
			</div>
		</form>
		<div id="make-q-update" class="box-button align-center">
			<button type="button" id="make-q-back-btn" class="btn gray btn-small" style="display:none;">@Messages("back")</button>
			<button type="button" id="make-q-update-btn" class="btn blue btn-small">@Messages("ui.create")</button>
		</div>
		<div id="make-q-publish" class="align-center" style="display:none;">
			<div class="checkbox" style="display:inline-block;">
				<label for="make-q-includeRank" class="btn">
					<input id="make-q-includeRank" type="checkbox" value="true" checked="checked"> @Messages("includeToRanking")
				</label>
			</div>
			<div style="display:inline-block;padding:5px;">
				<label for="make-q-answerTime" style="display:inline-block;">@Messages("timeLimit")</label>
				<select id="make-q-answerTime" class="form-control" style="width:100px;display:inline-block;">
					<option value="10">@Messages("tenSec")</option>
					<option value="30">@Messages("thirtySec")</option>
					<option value="60">@Messages("oneMin")</option>
				</select>
			</div>
			<div style="margin-top:10px;">
				<button id="make-q-publish-btn" class="btn blue btn-small" type="button" >@Messages("ui.publish")</button>
			</div>
		</div>
	</div>
</div>
