@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="make-room">
	<h1>@Messages("makeRoom")</h1>
	<div>
		<form role="form">
			<div class="form-group">
				<label for="room-name">@Messages("roomName")</label>
				<input id="room-name" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="room-tags">@Messages("tags")</label>
				<input id="room-tags" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="room-hashtag">@Messages("hashtag")</label>
				<input id="room-hashtag" class="form-control"/>
			</div>
			<div class="checkbox">
				<label>
					<input id="room-user-quiz" type="checkbox"> @Messages("allowUserQuestion")
				</label>
			</div>
			<div class="form-group">
				<label for="room-description">@Messages("description")</label>
				<textarea id="room-description" class="form-control"></textarea>
			</div>
			<button type="button" class="btn btn-default" id="btn-make-room">@Messages("ui.create")</button>
		</form>
	</div>
	<div id="room-admin">
		<h2>@Messages("administrator")</h2>
		<p>@Messages("addAdministrator")</p>
		<ul class="list-admin">
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				<img src="https://pbs.twimg.com/profile_images/426010078131400704/1W-l1xCk_mini.jpeg">
				<span> i556 </span>
				<i class="fa fa-minus-circle fa-2x"></i>
			</li>
			<li>
				@@<input type="text"/>
				<i class="fa fa-plus-circle fa-2x"></i>
			</li>
		</ul>
	</div>
</div>
