@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="publish-question">
	<div id="publish-question-seq">問題</div>
	<div class="progress">
		<div id="question-progress" class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
		</div>
		<div id="question-progress-answered" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
		</div>
	</div>
	<p id="question-text">
	</p>
	<div>
		<button id="answer-1" class="btn btn-question">
			<div style="float:left;" class="answer"></div>
			<div style="float:right;" class="answer-cnt"></div>
		</button>
	</div>
	<div>
		<button id="answer-2" class="btn btn-question">
			<div style="float:left;" class="answer"></div>
			<div style="float:right;" class="answer-cnt"></div>
		</button>
	</div>
	<div>
		<button id="answer-3" class="btn btn-question">
			<div style="float:left;" class="answer"></div>
			<div style="float:right;" class="answer-cnt"></div>
		</button>
	</div>
	<div>
		<button id="answer-4" class="btn btn-question">
			<div style="float:left;" class="answer"></div>
			<div style="float:right;" class="answer-cnt"></div>
		</button>
	</div>
	<div>
		<button id="answer-5" class="btn btn-question">
			<div style="float:left;" class="answer"></div>
			<div style="float:right;" class="answer-cnt"></div>
		</button>
	</div>
</div>
