@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="edit-question" class="workspace">
	<h1>@Messages("questions")</h1>
	<div class="tab-content">
		<ul id="edit-question-tab">
			<li><a href="#edit-question-stock">@(Messages("stock"))(<span id="question-stock-count">-1</span>)</a></li>
			<li><a href="#edit-question-published">@(Messages("published"))(<span id="question-published-count">-1</span>)</a></li>
		</ul>
		<div>
			<div style="float:left;">
				<button class="btn" id="edit-question-left">
					<i class="fa fa-chevron-circle-left fa-lg"></i>
				</button>
			</div>
			<div style="display:inline-block; width: 240px;padding-left:10px;padding-top:5px;">
				<i class="fa fa-search fa-lg"></i>
				<input type="text" style="width:100px;">
				<button id="edit-question-new">@Messages("new")</button>
			</div>
			<div style="float:right;">
				<button class="btn" id="edit-question-right">
					<i class="fa fa-chevron-circle-right fa-lg"></i>
				</button>
			</div>
		</div>
		<div id="edit-question-stock">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th class="q-creator">@Messages("questionFrom")</th>
						<th class="q-text">@Messages("question")</th>
					</tr>
				</thead>
				<tbody class="row-link">
				</tbody>
			</table>
			<div id="edit-question-current-none" style="display:none;">@Messages("noQuestions")</div>
		</div>
		<div id="edit-question-published">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th class="q-creator">@Messages("questionFrom")</th>
						<th class="q-text">@Messages("question")</th>
						<th class="q-answerer">@Messages("answerer")</th>
					</tr>
				</thead>
				<tbody class="row-link">
				</tbody>
			</table>
		</div>
	</div>
</div>
