@(sessionInfo: SessionInfo)(implicit lang: Lang)
<div id="ranking" class="workspace">
	<div id="ranking-tab" class="tab-content" style="display:none;">
		<ul>
			<li class="ranking-now"><a href="#ranking-now">@Messages("rankingNow")</a></li>
			<li><a href="#ranking-event">@Messages("rankingEvent")</a></li>
			<li><a href="#ranking-total">@Messages("rankingTotal")</a></li>
		</ul>
		<div id="ranking-now" class="ranking-now" class="tab-pane">
			<table class="table table-hover" id="ranking-now-tbl">
				<thead>
					<tr>
						<th class="r-rank">@Messages("rank")</th>
						<th class="r-name">@Messages("username")</th>
						<th class="r-correct">@Messages("correctCount")</th>
						<th class="r-time">@Messages("time")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="ranking-event" class="tab-pane">
			<table class="table table-hover" id="ranking-event-tbl">
				<thead>
					<tr>
						<th class="r-title">@Messages("title")</th>
						<th class="r-winners">@Messages("winner")</th>
						<th class="r-correct">@Messages("correctCount")</th>
						<th class="r-time">@Messages("time")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="ranking-total" class="tab-pane">
			<table class="table table-hover" id="ranking-total-tbl">
				<thead>
					<tr>
						<th class="r-rank">@Messages("rank")</th>
						<th class="r-name">@Messages("username")</th>
						<th class="r-point">@Messages("point")</th>
						<th class="r-correct">@Messages("correctCount")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="ranking-event-detail" style="display:none;" class="tab-pane">
			<nav class="paging-bar">
				<ul>
					<li>
						<div class="pull-left">
							<button type="button" class="btn" id="ranking-event-detail-back">
								<i class="fa fa-angle-left fa-lg"></i>
							</button>
						</div>
					</li>
				</ul>
			</nav>
			<table class="table table-hover" id="ranking-event-detail-tbl">
				<thead>
					<tr>
						<th class="r-rank">@Messages("rank")</th>
						<th class="r-name">@Messages("username")</th>
						<th class="r-correct">@Messages("correctCount")</th>
						<th class="r-time">@Messages("time")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="ranking-user" style="display:none;" class="tab-pane">
			<nav class="paging-bar">
				<ul>
					<li>
						<div class="pull-left">
							<button type="button" class="btn" id="ranking-user-back">
								<i class="fa fa-angle-left fa-lg"></i>
							</button>
						</div>
					</li>
				</ul>
			</nav>
			<div class="user-area">
				<div class="pull-left rank-user">
					<img id="ranking-user-img" src="#"/>
				</div>
				<div>
					<div id="ranking-user-name" class="rank-user-name"></div>
					<div><span id="ranking-user-point" class="rank-user-point"></span>Point</div>
				</div>
				<div class="clearFix"></div>
			</div>
			<table class="table table-hover" id="ranking-user-tbl">
				<thead>
					<tr>
						<th class="r-title">@Messages("title")</th>
						<th class="r-rank">@Messages("rank")</th>
						<th class="r-point">@Messages("point")</th>
						<th class="correctCount">@Messages("correctCount")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
